{%load static%}
  {% include 'header.html'%}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <img src="{%static 'img/11.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Objetivo Principal:</h5>
                <p class="card-text">En el modo Battle Royale, el objetivo es ser el último jugador o equipo en pie. Los jugadores pueden jugar solos, en dúos o en escuadrones de cuatro.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/12.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Iniciando el juego:</h5>
                <p class="card-text">Los jugadores comienzan en una "isla de inicio" mientras esperan que comience la partida. Luego, todos son transportados a un autobús volador que cruza el mapa. Los jugadores deciden cuándo saltar y dónde aterrizar en el mapa.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/13.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Recolección y Construcción:</h5>
                <p class="card-text">Una vez en tierra, los jugadores buscan armas, municiones y otros objetos. También pueden recolectar materiales (madera, ladrillo y metal) destruyendo estructuras y objetos. Con estos materiales, los jugadores pueden construir rampas, paredes, suelos y techos para protegerse o ganar ventaja táctica.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/14.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">La Tormenta:</h5>
                <p class="card-text">Poco después de que comienza el juego, una tormenta comienza a cerrarse sobre el mapa, reduciendo el área jugable. Los jugadores deben mantenerse dentro del círculo seguro para evitar daño. Este mecanismo obliga a los jugadores a moverse y enfrentarse entre sí, evitando que el juego se vuelva estático.</p>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{%static 'img/15.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comandos y Controles:</h5>
                    <p class="card-text">Estos varían según la plataforma (PC, consola, móvil). Por ejemplo, en PC, "WASD" se utiliza para moverse, el clic izquierdo para disparar, "E" para interactuar, y las teclas "F1" a "F4" para construir. Las consolas usan sus respectivos joysticks y botones. Es importante revisar la configuración de controles en la plataforma específica para familiarizarse con todos los comandos.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{%static 'img/16.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eventos y Desafíos:</h5>
                    <p class="card-text">Epic Games a menudo lanza desafíos semanales que los jugadores pueden completar para ganar recompensas. Además, hay eventos periódicos que introducen modos de juego temporales, cambios en el mapa o colaboraciones con otras franquicias.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{%static 'img/17.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cosméticos:</h5>
                    <p class="card-text">Aunque Fortnite es gratuito, gana dinero a través de la venta de cosméticos, que son cambios estéticos para personajes, armas y herramientas. Estos no afectan la jugabilidad. El "Pase de Batalla" es una forma popular de obtener estos cosméticos, ofreciendo múltiples recompensas a medida que los jugadores avanzan en niveles.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{%static 'img/18.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Otras modalidades:</h5>
                    <p class="card-text">Además del popular modo Battle Royale, Fortnite también cuenta con el modo "Salvar el Mundo", un PvE cooperativo, y "Modo Creativo", donde los jugadores pueden construir estructuras y crear sus propios mini-juegos.</p>
                </div>
                </div>
            </div>
        </div>
    {%include 'footer.html'%}