{%load static%}
  {% include 'header.html'%}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <img src="{%static 'img/4.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Desarrollo y Anuncio (2011-2017):</h5>
                <p class="card-text">{{texto1}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/5.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lanzamiento del modo "Salvar el Mundo" (2017):</h5>
                <p class="card-text">{{texto2}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/6.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Introducción del Battle Royale (2017):</h5>
                <p class="card-text">{{texto3}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/7.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Explosión de Popularidad (2017-2019):</h5>
                <p class="card-text">{{texto4}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/8.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Eventos y Colaboraciones (2018-2021):</h5>
                <p class="card-text">{{texto5}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/9.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Desafíos con las tiendas de aplicaciones (2020):</h5>
                <p class="card-text">{{texto6}}</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/10.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Innovaciones y actualizaciones continuas:</h5>
                <p class="card-text">{{texto7}}</p>
                </div>
            </div>
            </div>
        </div>
    {%include 'footer.html'%}