{%load static%}
  {% include 'header.html'%}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <img src="{%static 'img/19.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Conoce el mapa:</h5>
                <p class="card-text">Familiarízate con las diferentes zonas del mapa, especialmente los lugares de interés. Cada área tiene un conjunto específico de botines, y saber dónde encontrar ciertas armas o recursos puede darte una ventaja.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/20.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Aterriza con una estrategia:</h5>
                <p class="card-text">Si eres nuevo en el juego, podría ser útil aterrizar en áreas menos pobladas para darte tiempo para recolectar recursos y familiarizarte con el juego sin mucha presión. Sin embargo, si buscas mejorar rápidamente en combate, aterrizar en zonas populares te permitirá enfrentarte a otros jugadores y ganar experiencia.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/21.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Siempre está en movimiento:</h5>
                <p class="card-text">Ser un blanco móvil hace que sea más difícil para otros jugadores acertarte. Cuando recolectes recursos o explores, trata de moverte constantemente, saltando o zigzagueando.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/22.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Aprende a construir rápidamente:</h5>
                <p class="card-text">La construcción es esencial en Fortnite. Practica la construcción de estructuras básicas rápidamente, como rampas para obtener una posición elevada o paredes para protegerte del fuego enemigo.</p>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{%static 'img/23.jpeg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Administra tu inventario:</h5>
                    <p class="card-text">Asegúrate de tener una variedad de armas para diferentes situaciones: un rifle de asalto para combate a media distancia, una escopeta para combate cercano y tal vez un rifle de francotirador para larga distancia. No olvides llevar curaciones y escudos.</p>
                    </div>
                </div>
                </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/24.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Juega con auriculares:</h5>
                <p class="card-text">Escuchar pasos, disparos y otros sonidos del juego es crucial. Un buen par de auriculares te permitirá determinar la dirección y proximidad de otros jugadores.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/25.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Juega en equipo:</h5>
                <p class="card-text">Si juegas en dúo o escuadra, la comunicación es clave. Coordinarse con tus compañeros de equipo puede hacer la diferencia entre ganar y perder.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/26.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Aprende de tus errores:</h5>
                <p class="card-text">Cuando seas eliminado, observa a otros jugadores, especialmente si son hábiles. Aprenderás tácticas y estrategias al ver cómo juegan otros.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/27.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Mantente informado:</h5>
                <p class="card-text">Fortnite se actualiza con frecuencia, introduciendo nuevos objetos, armas y cambios en el mapa. Mantente al tanto de las actualizaciones para adaptarte a las nuevas mecánicas.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{%static 'img/28.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Diviértete y sé paciente:</h5>
                <p class="card-text">La mejora viene con el tiempo y la práctica. No te desanimes si no ganas de inmediato. Cada partida es una oportunidad para aprender y mejorar.</p>
                </div>
            </div>
            </div>
        </div>
    {%include 'footer.html'%}