{%load static%}
  {% include 'header.html'%}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <video controls width="100%">
                    <source src="{%static 'vid/1.mp4'%}" type="video/mp4">
                    Tu navegador no soporta el elemento video.
                </video>
                <div class="card-body">
                <h5 class="card-title">Tráiler cinematográfico del Capítulo 4 - Temporada 4 de Fortnite: A TODA COSTA</h5>
                <p class="card-text">El vampiro Kado Thorne se estableció en la isla en el Capítulo 4 - Temporada 4 de Batalla campal de Fortnite al drenar la riqueza y los tesoros de la isla para construir una serie de propiedades opulentas: Suites Sanguinarias, Retiro Relajante y Solar Selénico. Roben bienes en las propiedades de Thorne para recuperar lo que le pertenece a la isla y, más importante aún, para frustrar su plan definitivo. El destino de la isla está en juego y el robo es nuestra última carta. Será todo o nada.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <video controls width="100%">
                    <source src="{%static 'vid/2.mp4'%}" type="video/mp4">
                    Tu navegador no soporta el elemento video.
                </video>
                <div class="card-body">
                <h5 class="card-title">Tráiler de lanzamiento de juego del Capítulo 4 - Temporada 4 de Fortnite: A TODA COSTA</h5>
                <p class="card-text">Detrás de los lujosos exteriores de Suites Sanguinarias, Retiro Relajante y Solar Selénico hay bases altamente protegidas con cámaras, campos láser y guardias. En las profundidades de las propiedades de Thorne, hay objetos míticos de la historia de Fortnite bien guardados, como el rifle de asalto modelo siete de La Fundación, el subfusil con tambor de Midas, la pistola de rayos de Zyg y Cortecitos y mucho más.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <video controls width="100%">
                    <source src="{%static 'vid/4.mp4'%}" type="video/mp4">
                    Tu navegador no soporta el elemento video.
                </video>
                <div class="card-body">
                <h5 class="card-title">Fortnite - Tráiler Cinemático del Lanzamiento</h5>
                <p class="card-text">
                    Primer trailer lanzado en la historia de Fortnite, este fue el 8 de julio del año 2017.
                    En esta ocasión se trataría del modo Salvar el Mundo.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <video controls width="100%">
                    <source src="{%static 'vid/3.mp4'%}" type="video/mp4">
                    Tu navegador no soporta el elemento video.
                </video>
                <div class="card-body">
                <h5 class="card-title">Fortnite Battle Royale: Tráiler del juego</h5>
                <p class="card-text">Battle Royale de Fortnite es el modo JcJ con 100 jugadores. Un mapa enorme. Un autobús de batalla. La pericia de construcción y entornos destructibles de Fortnite sumados a la intensidad de los combates JcJ. Gana el último en pie.</p>
                </div>
            </div>
            </div>
        </div>
    {%include 'footer.html'%}